.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/build
dist
*.log
.DS_Store
.idea
.vscode
tests
phpunit.xml
npm-debug.log
